ion-icon {
    font-size: 30px;
    color: #2596ff;
}

.item-md ion-avatar[item-left], .item-md ion-thumbnail[item-left], .item-md ion-avatar[item-start], .item-md ion-thumbnail[item-start]{
    margin: 0;
}